<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: "verdana", sans-serif;
  font-size: 20px;
}
</style>
<title> MONEY HUNTERS </title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	var socket = io();
	socket.on("connect", function() {
		socket.emit("join", { 
			username: "Test",
			room: "General",
			message: "I\'m connected!"});
	});
</script>

</head>
<body style="background-color: #565454;"> 
<center>
<table>

<tr>

<td colspan="3" bgcolor="gray">
  <center> 
<h3 class="font-effect-fire"> HOLA {{username}} <h3> </center>

</td>




<tr valign="top">
<td bgcolor="#aaa" height="400"  width="250">


<center>

<h4><b>Channel name</h4> </b><br/>
<input type="radio" id="html"  value="Channel 1">
<label for="html">Channel 1</label><br>
<input type="radio" id="html"  value="Channel 2">
<label for="html">Channel 2</label><br>
<input type="radio" id="html"  value="Channel 3">
<label for="html">Channel 3</label><br>
</center>
</td>

<td  bgcolor= "#eee" height="400" width="1100">
<center>
<h4>Chat Box</h4>
</center>
</td>

<td  bgcolor= "#aaa" height="500" width="250">
<center>
<h4>Messages</h4>
<input type="radio" id="html"  value="Friend 1">
<label for="html">Friend 1</label><br>
<input type="radio" id="html"  value="Friend 2">
<label for="html">Friend 2</label><br>
<input type="radio" id="html"  value="Friend 3">
<label for="html">Friend 3</label><br>
</center>
</td>


</tr>
<tr>
<td bgcolor="#aaa" colspan="1">
<h4>*settings*</h4>
</td>
<td bgcolor="#aaa" colspan="2">
<input type="radio" id="html"  value="change username">
<label for="html">change username</label><br>
Change Username <a href="/auth/settings" class="btn btn-primary btn-sm">submit</a>
</td>
</tr>

</table>
</center>
</body>
</html>
