<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title> Super Chat 1.0 </title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	document.addEventListener('DOMContentLoaded', () => {
		var socket = io();
		var name = {{username|tojson}};
		var current_room = {{ room_id|tojson}};

    function addMembers(listObject,users) {
      listItems = listObject.getElementsByTagName('li');
      console.log('tried function');
      len = users.length - listItems.length; // If new user joins, only add new user.
      console.log(len)

      // If new member, loop through all current members. If old member, append new member.
      for (let i = listItems.length; i < users.length; i++) {
        var item = document.createElement('li');
        item.textContent = users[i];
        listObject.appendChild(item);
      }
    }

    function removeMember(listObject, user) {
      listItems = listObject.getElementsByTagName('li');
      //console.log(`user ${user}`);
      for (let i = 0; i < listItems.length; i++) {
        const item = listItems[i];
        console.log(item);
        if (item.textContent === user ) {
          //console.log("user found!");
          let tossNode = listObject.removeChild(item);
          console.log(`Removing ${item}`);
        }
        //console.log(listItems[i]);
      }
    }
    function renderMessageHistory(listObject,messages) {
      for (let i = 0; i < messages.length; i++) {
        const item = document.createElement('li');
        const content = messages[i];
        item.textContent = content;
        listObject.appendChild(item);

      }
    }

    socket.emit("join", { 
      timestamp: "Time",
      username: name,
      room: current_room,
      message: "I\'m connected!" 
		  });
		
		socket.on("chat message", function(json) {
			var item = document.createElement('li');
      const time = new Date(json["timestamp"] + "UTC");
			item.textContent =  json["username"] + " " + time.toLocaleTimeString() + "\n" + json["message"];
      console.log(time.toLocaleTimeString());
			messages.appendChild(item);
			window.scrollTo(0, document.body.scrollHeight);
		});
		
    socket.on("chat join", function(json) {
			var item = document.createElement('li');
      var item2 = document.createElement('li');
      let array = json["current_users"];
      message_history = json["message_history"];

      console.log(array);
      console.log(member_list);
      renderMessageHistory(messages,message_history);
      addMembers(member_list,json["current_users"]);
      item2.textContent = json["message"];
			messages.appendChild(item2);
			window.scrollTo(0, document.body.scrollHeight);
		});

		var form = document.getElementById("form");
		var input = document.getElementById("input");
		form.addEventListener("submit", function(e) {
			e.preventDefault();
			if (input.value) {
				socket.emit('message sent', {
					message: input.value,
					room: current_room,
					timestamp: "time",
					username: name
				}); 
					input.value = "";
			}
		});

    function emitLeave() {
      // Emits socket command to leave chat room for current user and update current_users list
      socket.emit("leave", {
        room: current_room,
        timestamp: "empty",
        username: name
      });
    }
      const roomContainer = document.querySelector(".leftpane_sub1");
      console.log(roomContainer);
      roomContainer.addEventListener("click", (event) => {
        console.log("Room button clicked")
        const isButton = event.target.nodeName === "BUTTON";
        console.log(isButton);
        if (isButton) {
          emitLeave();
        }
      });

      socket.on("chat leave",function(json) {
        const targetUser = json["username"];
        removeMember(member_list,targetUser);
      });
      
      // Remove user from Online members upon logout
      const logoutBtn = document.getElementById("logout");
      logoutBtn.onclick = emitLeave;
      


  });

</script>

</head>
<body> 

  <div class="wrapper">
    <div class="leftpane_sub1">
      <form action="/Random" method="get">
        <button id="lpbut">Random</button>
      </form>
      <form action="/News" method="get">
        <button id="lpbut" action="">News</button>
       </form>
       <form action="/Music" method="get">
        <button id="lpbut" action="">Music</button>
        </form>
     <!--  <button id="addchannel" action="/channels/create" method="/get">+</button> -->
     <!-- <select class="chatdrop" name="chatroom" id="chatroom-select">
        <option value="general">General</option>
        <option value="sports">Sports</option>
        <option value="relationship-woes">Relationships-Woes</option>
      </select> --> 
    </div>
    
    <div class="leftpane_sub2">
      <p id="room_id">{{ room_id }}</p>
      <p id="member_header">{{ member_header }}</p>
      <ul id="member_list">

      </ul>
    </div>

    <div class ="topbar">
      <div id = "navigate">
       <button>Notifications</button>
        <form action="/logout" method="get">
          <button id="logout">Logout</button>
        </form>
      </div>
    </div>

    <div class="userbar">
      <p id="displayname">{{ username }}</p>
    </div>

    <div class="settingsgrid">
        <form id="settingsform" action="/auth/settings" method="get">
          <button class="settingsbtn">settings</button>
        </form>
    </div>

    <div class="chatbox">
      <ul id="messages"></ul>
    </div>

    <div class="messagebox">
      <form id = "form" action="">
        <input id="input" autocomplete="off" /> <!-- <button class="submitbutton">Send</button> -->
    </div>
  </div>
</body>