<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
}
</style>
<title> MONEY HUNTERS </title>

</head>
<body style="background-color: #565454;"> 
<center>
<table>

<tr>
<center>
<td colspan="3" bgcolor="gray">
  <center> 
<h3 class="font-effect-fire"> HOLA {{.....}} <h3> </center>
</center>
</td>
</center>



<tr valign="top">
<td bgcolor="#aaa" height="400"  width="250">


<center>

<h4><b>Channel name</h4> </b><br/>
<input type="radio" id="html"  value="Channel 1">
<label for="html">Channel 1</label><br>
<input type="radio" id="html"  value="Channel 2">
<label for="html">Channel 2</label><br>
<input type="radio" id="html"  value="Channel 3">
<label for="html">Channel 3</label><br>
</center>
</td>

<td  bgcolor= "#eee" height="400" width="1100">
<center>
<h4>Chat Box</h4>
</center>
</td>

<td  bgcolor= "#aaa" height="500" width="250">
<center>
<h4>Messages</h4>
<input type="radio" id="html"  value="Friend 1">
<label for="html">Friend 1</label><br>
<input type="radio" id="html"  value="Friend 2">
<label for="html">Friend 2</label><br>
<input type="radio" id="html"  value="Friend 3">
<label for="html">Friend 3</label><br>
</center>
</td>


</tr>
<tr>
<td bgcolor="#aaa" colspan="1">
<h4>*settings*</h4>
</td>
<td bgcolor="#aaa" colspan="2">
<input type="radio" id="html"  value="change username">
<label for="html">change username</label><br>
</td>
</tr>

</table>
</center>
</body>
</html>
