<!DOCTYPE html>
<html>
    <body>
        <form action="/auth/settings" method="post">
            <div class="mb-3">
              <label for="Change Username" class="form-label"> Change Username</label>
              <input type="text" class="form-control" id="uname" name="uname">
                <label for="Email" class="form-label">Email Confirmation</label>
                <input type="text" class="form-control" id="Email" name="email">
            </div>
            <p>Click Yes to Change username <button type="submit" class="btn btn-primary">YES</button> </p>
          </form>

    </body>
</html>

